@page "/debug-test"
@using System.Diagnostics
@using Microsoft.FluentUI.AspNetCore.Components
@using VSM.Client.SharedAPI
@inject API Api
@rendermode InteractiveAuto

<h3>Debug Test Page</h3>

<button class="btn btn-primary" @onclick="TestBreakpoint">Test Breakpoint</button><span class="ms-2">@message</span>

<FluentStack Orientation="Orientation.Vertical">
    <div style="display:flex">
        <p>register initials:</p>
        <FluentTextField @bind-Value="@sharedtestParameters.initials" Placeholder="your initials"></FluentTextField>
        @*<p>simulation domain:</p>
            <FluentTextField @bind-Value="@domain_name" Placeholder="your simulation domain"></FluentTextField>*@
        @*<FluentButton OnClick="@OnLoginClicked" Appearance="Appearance.Accent">Login</FluentButton>*@
    </div>
</FluentStack>

<FluentStack Orientation="Orientation.Vertical">
    <div class="grid">
        <FluentDataGrid Items="@endpoint_tests.AsQueryable()" TGridItem="IEndpointTest" ShowHover="true"
            DisplayMode="DataGridDisplayMode.Table" GenerateHeader="@GenerateHeaderOption.Sticky" MultiLine="true">

            <TemplateColumn Title="TestActivations" Width="300px">
                <ChildContent Context="endpoint">
                    <FluentButton Appearance="Appearance.Accent" @onclick="@(() => endpoint.ActivateAsync())"
                        Disabled=!endpoint.Enabled>
                        @endpoint.TestName
                    </FluentButton>
                </ChildContent>
            </TemplateColumn>

            <PropertyColumn Title="testmessage" Property="@(endpoint => endpoint.TestMessage)" Width="400px" />
        </FluentDataGrid>
    </div>
</FluentStack>