@page "/library"
@rendermode InteractiveAuto
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Components
@using System.Linq.Expressions
@using VSM.Client.SharedAPI
@using VSM.Client.Datamodel
@inject NavigationDataService NavService
@inject NavigationManager Navigation
@inject API Api

<PageTitle>Library</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    @if (library.RootFolders.Count == 0)
    {
        <div style="display:flex">
            <p>Login to access your simulations:</p>

            <FluentTextField @bind-Value="@user_name" Placeholder="your initials"></FluentTextField>
            <FluentButton OnClick="@OnLoginClicked" Appearance="Appearance.Accent">Login</FluentButton>
        </div>

        if (has_loaded_rootFolders)
        {
            <div style="display:flex">
                <p>Load of root folders has failed or you are not owner or approver of any root folder! </p>
            </div>
        }
    }
    else
    {
        <FluentStack Orientation="Orientation.Vertical">
            <p>User: @library.User</p>
            <hr />
            <div class="grid">
                <FluentDataGrid Items="@library.RootFolders.AsQueryable()" TGridItem="RootFolder"
                    OnRowClick="OnSelectRootFolder" ShowHover="true" DisplayMode="DataGridDisplayMode.Table"
                    GenerateHeader="@GenerateHeaderOption.Sticky" MultiLine="true">

                    <PropertyColumn Title="Secure folder" Property="@(folder => folder.Root_path)" Width="400px" />

                    <TemplateColumn Title="Owners" Width="300px">
                        <ChildContent Context="folder">
                            @string.Join(", ", folder.AllInitials)
                        </ChildContent>
                    </TemplateColumn>

                    <TemplateColumn Title="Retention period" Width="180px">
                        <ChildContent Context="folder">
                            @($"{cycleTimeConverter.DaysToName(folder.CleanupConfiguration.LeadTime)}")
                        </ChildContent>
                    </TemplateColumn>

                    <TemplateColumn Title="Cleanup frequency" Width="190px">
                        <ChildContent Context="folder">
                            @($"{frequencyConverter.DaysToName(folder.CleanupConfiguration.Frequency)}")
                        </ChildContent>
                    </TemplateColumn>

                    <TemplateColumn Title="Retentions" Width="300px">
                        <ChildContent Context="folder">
                            @if (folder.CleanupConfiguration.IsValid())
                            {
                                <FluentButton Appearance="Appearance.Accent" @onclick="@(() => Go2retention(folder))">Go to retentions</FluentButton>
                            }
                            else
                            {
                                <FluentButton Appearance="Appearance.Neutral" Disabled="true">-</FluentButton>
                            }
                        </ChildContent>
                    </TemplateColumn>
                </FluentDataGrid>
            </div>
        </FluentStack>
        <FluentStack Orientation="Orientation.Vertical">
            <hr />
            @if (selected_rootFolder != null)
            {
                <div style="display:flex"><span style="width: 170px; display: inline-block;">Secure folder:</span>
                    @selected_rootFolder.Root_path
                </div>
                string ownerstring = string.Join(", ", selected_rootFolder.AllInitials);
                <div style="display:flex"><span style="width: 170px; display: inline-block;">Owners & approvers:</span>
                    @ownerstring
                </div>
                <div style="display:flex"><span style="width: 170px; display: inline-block;">Retention period:</span>
                    <FluentSelect 
                        Items="@library.CycleTimes" 
                        TOption="LeadTimeDTO"
                        OptionText="@(r => r.Name)" 
                        OptionValue="@(r => r.Id.ToString())"
                        @bind-SelectedOption="@leadTimeCallback"
                        Height="300px" 
                        Position="SelectPosition.Above" 
                        Autofocus="true" 
                        ImmediateDelay="100" />
                    <span style="width: 320px; display: inline-block;">  Days needed to analyse a simulation</span>
                </div>
                <div style="display:flex"><span style="width: 170px; display: inline-block;">Cleanup frequency</span>
                    <FluentSelect 
                        Items="@library.CleanupFrequencies" 
                        TOption="CleanupFrequencyDTO"
                        OptionText="@(r => r.Name)" 
                        OptionValue="@(r => r.Id.ToString())"
                        @bind-SelectedOption="@frequencyCallback"
                        Height="300px" 
                        Position="SelectPosition.Above" 
                        Autofocus="true" 
                        ImmediateDelay="100" />
                    <span style="width: 260px; display: inline-block;">  Days between cleanups</span>
                </div>
            }
        </FluentStack>
    }
</FluentStack>