@page "/library"
@rendermode InteractiveAuto
@using Microsoft.FluentUI.AspNetCore.Components
@using VSM.Client.Datamodel
@inject NavigationManager Navigation

<PageTitle>Library</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    @if (DataModel.Instance.UsersRootFolders.Count == 0)
    {
        <div style="display:flex">
            <p>Login to access your simulations:</p>
            <FluentTextField @bind-Value="@DataModel.Instance.User" Placeholder="your initials"></FluentTextField>
            <FluentButton OnClick="@OnLoginClicked" Appearance="Appearance.Accent">Login</FluentButton>
        </div>

        if (has_loaded_rootFolders)
        {
            <div style="display:flex">
                <p>Load of root folders has failed or you are not owner or approver of any root folder! </p>
            </div>
        }
    }
    else
    {
        <FluentStack Orientation="Orientation.Vertical">
            <p>User: @DataModel.Instance.User</p>
            <hr />
            <div class="grid">
                <FluentDataGrid Items="@DataModel.Instance.UsersRootFolders.AsQueryable()" TGridItem="RootFolder"
                    OnRowClick="OnSelectRootFolder" ShowHover="true" DisplayMode="DataGridDisplayMode.Table"
                    GenerateHeader="@GenerateHeaderOption.Sticky" MultiLine="true">

                    <PropertyColumn Title="Secure folder" Property="@(folder => folder.Root_path)" Width="400px" />

                    <TemplateColumn Title="Owners" Width="300px">
                        <ChildContent Context="folder">
                            @string.Join(", ", folder.AllInitials)
                        </ChildContent>
                    </TemplateColumn>

                    <TemplateColumn Title="Cleanup frequency" Width="300px">
                        <ChildContent Context="folder">
                            @(folder.Cleanup_frequency)
                        </ChildContent>
                    </TemplateColumn>

                    <TemplateColumn Title="Retentions" Width="300px">
                        <ChildContent Context="folder">
                            @if (folder.Cleanup_frequency != null && folder.Cleanup_frequency != "inactive")
                            {
                                <FluentButton Appearance="Appearance.Accent" @onclick="@(() => Go2retention(folder))">Go to
                                    retentions</FluentButton>
                            }
                            else
                            {
                                <FluentButton Appearance="Appearance.Neutral" Disabled="true">-</FluentButton>
                            }
                        </ChildContent>
                    </TemplateColumn>
                </FluentDataGrid>
            </div>
        </FluentStack>
        <FluentStack Orientation="Orientation.Vertical">
            <hr />
            @if (DataModel.Instance.SelectedRootFolder != null)
            {
                <div style="display:flex"><span style="width: 160px; display: inline-block;">Secure folder:</span>
                    @DataModel.Instance.SelectedRootFolder.Root_path </div>
                string ownerstring = string.Join(", ", DataModel.Instance.SelectedRootFolder.AllInitials);
                <div style="display:flex"><span style="width: 160px; display: inline-block;">Owners:</span> @ownerstring</div>
                <div style="display:flex"><span style="width: 160px; display: inline-block;">Change retention:</span>
                    <FluentCombobox Autofocus="true" Items="@cleanup_frequencies"
                        @bind-Value="@DataModel.Instance.SelectedRootFolder.Cleanup_frequency"
                        @bind-Value:after="UpdateCleanUpFrequency" Height="300px" Position="SelectPosition.Above" Immediate
                        ImmediateDelay="100" />
                </div>
            }
        </FluentStack>
    }
</FluentStack>
@code {
    bool has_loaded_rootFolders = false;
    private List<string> cleanup_frequencies = ["inactive", "1 week", "2 weeks", "3 weeks", "4 weeks", "6 weeks"];
    async Task OnLoginClicked()
    {
        if (DataModel.Instance.User.Length > 0)
        {
            try
            {
                has_loaded_rootFolders = false;
                // Ensure UI shows loading state. well later if we implement it
                await InvokeAsync(StateHasChanged);

                // first load retention options because we need them to generate testdata and folder structure
                await DataModel.Instance.LoadUsersRootFolders();
                has_loaded_rootFolders = true;
            }
            finally
            {
                await InvokeAsync(StateHasChanged);
            }
        }
    }
    //selecte the folder for the details panel
    private void OnSelectRootFolder(FluentDataGridRow<RootFolder> row)
    {
        DataModel.Instance.SelectedRootFolder = row.Item;
    }
    private void UpdateCleanUpFrequency()
    {
        Console.WriteLine($"new cleanup_frequency:{DataModel.Instance.SelectedRootFolder?.Cleanup_frequency}");
    }
    private void Go2retention(RootFolder root_folder)
    {
        DataModel.Instance.SelectedRootFolder = root_folder;
        Navigation.NavigateTo("retention");
    }
}